@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="pdf-container"></div>
<canvas id="canvas"></canvas>

<script>
    loadPDFJS("https://mozilla.github.io/pdf.js/web/compressed.tracemonkey-pldi-09.pdf");

    function loadPDFJS(pageUrl) {
        //PDFJS.workerSrc = 'resources/js/pdfjs/pdf.worker.js';
        var currentPage = 1;
        var pages = [];
        var globalPdf = null;
        var container = document.getElementById('pdf-container');
        function renderPage(page) {
            //
            // Prepare canvas using PDF page dimensions
            //
            var canvas = document.createElement('canvas');
            var viewport = page.getViewport(window.screen.width / page.getViewport(1.0).width);
            // append the created canvas to the container
            container.appendChild(canvas);
            // Get context of the canvas
            var context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;
            //
            // Render PDF page into canvas context
            //
            var renderContext = {
                canvasContext: context,
                viewport: viewport
            };
            page.render(renderContext).then(function () {
                if (currentPage < globalPdf.numPages) {
                    pages[currentPage] = canvas;
                    currentPage++;
                    globalPdf.getPage(currentPage).then(renderPage);
                } else {
                    // Callback function here, which will trigger when all pages are loaded
                }
            });
        }
        pdfjsLib.getDocument(pageUrl).then(function (pdf) {
            if (!globalPdf) {
                globalPdf = pdf;
            }
            pdf.getPage(currentPage).then(renderPage);
        });
    }

</script>

